* {
  font-family: sans-serif;
  margin: 0 0;
}
body {
  background-color: #161a1d;
}
nav {
  text-transform: uppercase;
  text-align: right;
}
nav a {
  color: #e5383b;
}
nav a:link {
  letter-spacing: 0.5px;
  text-decoration: none;
  padding-left: 20px;
  font-family: "Raleway", sans-serif;
}
main p {
  color: #d3d3d3;
  line-height: 19px;
  font-family: "Barlow Condensed", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-family: "Raleway", sans-serif;
}
aside {
  background-color: #d3d3d3;
  border-top: solid #e5383b 10px;
  border-bottom: solid #e5383b 10px;
  height: fit-content;
}
aside a {
  text-transform: uppercase;
  text-decoration: none;
  color: #e5383b;
  letter-spacing: 1px;
  font-family: "Raleway", sans-serif;
}
aside p {
  text-transform: uppercase;
  font-size: 12px;
  text-align: right;
  font-family: "Raleway", sans-serif;
}
aside ul {
  list-style-type: none;
  padding: 0;
  margin: 10px;
}
aside img {
  height: 200px;
  width: 300px;
}
footer p {
  color: #d3d3d3;
}
footer a {
  text-decoration: none;
  color: #e5383b;
}
p {
  font-size: 18px;
  line-height: 16px;
}
h2 {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}
i {
  color: #d3d3d3;
  font-size: 11px;
  text-transform: uppercase;
}
strong {
  font-weight: 900;
}
.title-main {
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  font-family: "Raleway", sans-serif;
}
.pic-prof {
  height: 50px;
  width: 50px;
}
.pic-intro {
  height: auto;
  width: 100%;
}
.auto-body {
  margin: 0 auto;
  width: 1200px;
}
.flex-author {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-start;
}
.flex-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-row: 1/1;
  grid-column: 1/3;
}
/* .flex-m-a {
  display: grid;
  grid-template-columns: 2fr auto;
  column-gap: 50px;
  row-gap: 30px;
} */
.flex-li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}
.flex-fo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 1/3;
}
.copri {
  color: #d3d3d3;
  font-size: 18px;
}
.flex-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 70px 2fr 50px;
  gap: 20px;
}
.grid-m {
  grid-column: 1/2;
}
